# Repository-wide ownership
* @Datamatics-Swaziland @Co-ordinator @Bakhombisile02

# Area ownership
/backend/ @Datamatics-Swaziland/developers @Co-ordinator @Bakhombisile02
/frontend/ @Datamatics-Swaziland/developers @Co-ordinator @Bakhombisile02
/docs/ @Datamatics-Swaziland/developers @Co-ordinator @Bakhombisile02
/.github/ @Datamatics-Swaziland/developers @Co-ordinator @Bakhombisile02
